.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  font-family: 'Courier New', Courier, monospace !important;
}

.example-header {
  min-height: 54px;
  padding: 8px 20px 0;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 450px;
}
